{% extends '_base.html' %}
{% load static %}


{% block title %}درباره ما{% endblock %}


{% block icon_style %}{% endblock %}
{% block core_style %}{% endblock %}
{% block vendors_style %}{% endblock %}
{% block style %}{% endblock %}




{% block content %}
<div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">

    <div class="container-xxl flex-grow-1 container-p-y">
      <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User Profile /</span> Profile</h4> -->
      <div class="row">
        <!-- Flat Picker -->
        <div class="col-12 col-xs-12 row">




          <section class="row">
            <div class="card col-12 p-5 mb-4">
              <h4>درباره ما</h4>
              <p>
                آژانس آبنوس گشت تهران فعالیت خود را از سال 1384 با هدف ارائه خدمات نوین، جلب رضایت مشتریان و
                خدمات‌دهی به آژانس‌های همکار و مسافران محترم آغاز نموده است. آبنوس گشت تهران با اتکا به تجربه و
                به‌کارگیری بهترین زیرساخت‌های لازم در صنعت گردشگری آنلاین (OTA) اقدام به ارائه بهترین و
                جامع‌ترین خدمات رزرواسیون آنلاین به مشتریان خود نموده است که شامل پرواز، هتل، ترانسفر، قطارهای
                خارجی، کروز و بیمه مسافرتی می‌باشد.

                با توجه به گسترش روزافزون خدمات آنلاین این شرکت و با سرمایه‌گذاری در بخش‌های اصلی این صنعت
                شرایطی را فراهم آورده‌ایم تا با ارتباط موثر، سریع‌ترین و بهترین خدمات را به مشتریان خود در زمینه
                رزرواسیون آنلاین ارائه دهیم.
              </p>

            </div>
            <div class="card col-12 p-5">
              <h4 class="text-center">چرا ما</h4>
              <p>
                آژانس آبنوس گشت تهران فعالیت خود را از سال 1384 با هدف ارائه خدمات نوین، جلب رضایت مشتریان و
                خدمات‌دهی به آژانس‌های همکار و مسافران محترم آغاز نموده است. آبنوس گشت تهران با اتکا به تجربه و
                به‌کارگیری بهترین زیرساخت‌های لازم در صنعت گردشگری آنلاین (OTA) اقدام به ارائه بهترین و
                جامع‌ترین خدمات رزرواسیون آنلاین به مشتریان خود نموده است که شامل پرواز، هتل، ترانسفر، قطارهای
                خارجی، کروز و بیمه مسافرتی می‌باشد.

                با توجه به گسترش روزافزون خدمات آنلاین این شرکت و با سرمایه‌گذاری در بخش‌های اصلی این صنعت
                شرایطی را فراهم آورده‌ایم تا با ارتباط موثر، سریع‌ترین و بهترین خدمات را به مشتریان خود در زمینه
                رزرواسیون آنلاین ارائه دهیم.
              </p>

            </div>



          </section>

        </div>
      </div>
    </div>
  </div>
{% endblock %}




{% block build_script %}{% endblock %}
{% block vendors_script %}{% endblock %}
{% block main_script %}{% endblock %}
{% block page_script %}{% endblock %}