{% extends '_base.html' %}
{% load static %}

{% block title %}  خانه {% endblock %}

{% block icon_style %}{% endblock %}
{% block core_style %}{% endblock %}
{% block vendors_style %}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/assets/css/persian-datepicker.min.css"/>
{% endblock %}


{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User Profile /</span> Profile</h4> -->
        <div class="row">
            <!-- Flat Picker -->
            <div class="col-12 col-xs-12">

                <section class="card">
                    <div class="card-body bg-image rounded d-flex flex-column justify-content-center " style="
            background-image: url('/static/assets/img/pages/search-bg.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 450px; ">
                        <div class="row">

                            <form
                                  class="card d-flex flex-lg-row flex-column justify-content-around pb-5 pt-5">
                                
                                <div class="col-12 col-sm-12  col-lg-3 mb-4">
                                    <select class="form-select" id="location"
                                            aria-label="Default select example" name="location">
                                        <option selected="">مقصد سفر</option>
                                        {% for city in cities %}
                                            <option value="{{ city.id }}">{{ city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Range Picker-->
                                <div class="col-12 col-sm-12 col-lg-2 mb-4 ">
                                    <input type="text" class="form-control dateselector col-2 col-md-1"
                                           placeholder="تاریخ ورود" name="dateIn" id="dateIn"
                                    />
                                </div>
                                <div class="col-12 col-sm-12 col-lg-2 mb-4 ">
                                    <input type="text" class="form-control dateselector col-2 col-md-1"
                                           placeholder="تاریخ خروج" name="dateOut" id="dateOut"
                                    />
                                </div>
                                <!-- /Range Picker-->
                                <button type="submit" id="hotel_btn"
                                        class="col-12 col-sm-12 col-lg-1 btn btn-primary waves-effect waves-light">
                                    جست‌وجو
                                </button>
                                <!-- <div class="col-12 col-sm-12 col-lg-1 d-flex justify-content-center"> -->
                                <!-- </div> -->


                            </form>
                        </div>
                    </div>
                </section>

                <section class="d-flex flex-row justify-content-around mt-3 p-5 ">


                    <div class="col-12 col-lg-3 d-flex flex-row justify-content-around p-2 m-2">
                        <div class="col-2 col-md-2">
                            <i class="fa-regular fa-envelope fa-2x"></i>
                        </div>

                        <div class="col-10 col-md-10">
                            <h5 class="col-12 col-md-12">تضمین بهترین قیمت</h5>
                            <p class="col-12 col-md-12">بیشترین تخفیفها برای رزرو هتل و خرید بلیط</p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 d-flex flex-row justify-content-around p-2 m-2">
                        <div class="col-2 col-md-2">
                            <i class="fa-regular fa-envelope fa-2x"></i>
                        </div>

                        <div class="col-10 col-md-10">
                            <h5 class="col-12 col-md-12">تضمین بهترین قیمت</h5>
                            <p class="col-12 col-md-12">بیشترین تخفیفها برای رزرو هتل و خرید بلیط</p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 d-flex flex-row justify-content-around p-2 m-2">
                        <div class="col-2 col-md-2">
                            <i class="fa-regular fa-envelope fa-2x"></i>
                        </div>

                        <div class="col-10 col-md-10">
                            <h5 class="col-12 col-md-12">تضمین بهترین قیمت</h5>
                            <p class="col-12 col-md-12">بیشترین تخفیفها برای رزرو هتل و خرید بلیط</p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 d-flex flex-row justify-content-around p-2 m-2">
                        <div class="col-2 col-md-2">
                            <i class="fa-regular fa-envelope fa-2x"></i>
                        </div>

                        <div class="col-10 col-md-10">
                            <h5 class="col-12 col-md-12">تضمین بهترین قیمت</h5>
                            <p class="col-12 col-md-12">بیشترین تخفیفها برای رزرو هتل و خرید بلیط</p>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>

{% endblock %}


{% block build_script %}
{% endblock %}

{% block vendors_script %}

{% endblock %}

{% block main_script %}{% endblock %}


{% block page_script %}

    <script src="/static/assets/js/forms-pickers.js"></script>

    <script src="/static/assets/js/persian-datepicker.min.js"></script>
    <script src="/static/assets/js/persian-date.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dateselector").persianDatepicker({
                observer: true,
                format: 'YYYY-MM-DD',
                altField: '.observer-example-alt',
                initialValue: false


            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
  $('#hotel_btn').click(function() {
    var selectBoxValue = $('#location').val();
    var date1Value = $('#dateIn').val();
    var date2Value = $('#dateOut').val();
    var url = 'home?location=' + selectBoxValue + '&start_date=' + date1Value + '&end_date=' + date2Value;
    $.get(url, function(data) {
      window.location.href = '{% url 'hotels' %}?' + url;
    });
  });
});
    </script>
{% endblock %}






